form {
    font-size: 20px;
    width: 30%;
    margin: 0 auto;
}

.info-register {
    display: block;
}

input, legend {
    font: 300 16px/22px Arial, sans-serif;
}

.info-register label {
    color: #525252;
    cursor: pointer;
    font-weight: 400;
    display: block;
    text-align: center;
}

.info-register input,
.info-register button {
    border: 1px solid #8f9092;
    border-radius: 5px;
    color: #474747;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 27px;
    padding: 5px 8px;
}

.info-register input {
    width: 50%;
}

.info-register button {
    background: #ffff00;
}

.info-register button:hover {
    background: #f00;
    color: #000;
}